  
            .prince-heading {
              text-align: center;
              color: black;
              
              
          }
          head {
              background-color: #F2EBF9;
          }
          
          .container {
            background-color: #F6F0FB;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
        }

        .prince-photo-1, .prince-photo-2, .prince-photo-3 {
            width: fit-content;

        }

        .prince-photo-1 {
            width: 260px;
        }

        .prince-photo-4 {
            width: 260px;
            margin-right: 2ch;
        }

        .prince-info-1 {
            width: 300px;
            margin-left: 6ch;
            
        }
    
        .prince-heading-photo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            min-width: auto;
            width: 100%;
            opacity: 90%;
            border-color: blueviolet;
        }
       
        .prince-body-p1 {
            opacity: 90%;

        }
        
        .prince-body-p2 {
            opacity: 90%;
            width: 520px;
            height: 500px;

        }

        .col-5 {
            text-align: center;
            border: 30px;
        }

        .prince-photo-2 {
            width: 280px;
            
        }

        .prince-info-2 {
            text-align: center;
        }

        .prince-footer {
            align-self: center;
        }

        @media(max-width = 400px) {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }
    

        .prince-photo-1, .prince-photo-2, 
        .prince-info-3, .prince-photo-3{
            width: 100%;

    }
}  